.App {
  margin: 0 auto;
  background: #f6f5f5;
  max-width: 430px;
  margin-top: 10vh;
  border-radius: 10px;
  min-height: 400px;
  box-shadow: 0 0 12px #00587a6b;
}
.Header{
  font-weight: bold;
    font-size: 18px;
    background: #1687a7;
    color: #fff;
    padding: 12px 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.listWrapper{
  display: flex;
  padding: 16px;
  background: #ececec;
  margin-bottom: 4px;
}
.musicImage{
  margin-right: 20px;
}
.actionBtn{
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.img-responsive{
  max-width: 100%;
}
.actionWrap{
  display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 20%;
}
.heading{
  flex-basis: 80%;
  margin: 0;
}
.searchbar{
  width: -webkit-fill-available;
    padding: 10px 16px;
    border: navajowhite;
    background: #ececec;
    border-radius: 20px;
}
.searchbar:focus{
  outline: none;
}
.addbar{
  width: -webkit-fill-available;
  padding: 10px 16px;
  border: 2px solid #1387a82e;
  margin: 10px;
}
.addbar:focus{
  outline: none;
  border: 2px solid #1387a8;
}
.searchWrapper, inputWrapper{
  max-width: 100%;
  overflow: hidden;
}
.searchWrapper{
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible;
}
.searchIcon{
  position: absolute;
    z-index: 1;
    right: 10px;
}
.FriendsListSection{

}
.pagination{
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.page{
  background: #ececec;
    padding: 10px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    margin: 2px;
}


 /* select */
.multiselect {
  width: 100px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  font-weight: bold;
  height: 35px;
  background: transparent;
  color: #ececec;
  width: 90px;
  border-radius: 20px;
  border: none;
  margin-right: 13px;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  position: absolute;
    z-index: 111;
    background: rgb(19, 135, 168);
    box-shadow: 0 0 12px #ccc;
    width: 120px;
}

#checkboxes label {
  display: block;
  font-size: 14px;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
.highlight{
  background: tan
}