.App {
  margin: 0 auto;
  background: #f6f5f5;
  max-width: 430px;
  margin-top: 10vh;
  border-radius: 10px;
  min-height: 400px;
  box-shadow: 0 0 12px #00587a6b;
}
.Header{
  font-weight: bold;
    font-size: 18px;
    background: #1687a7;
    color: #fff;
    padding: 12px 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.listWrapper{
  display: flex;
  padding: 0 16px;
  background: #ececec;
  margin-bottom: 4px;
}

.actionBtn{
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.img-responsive{
  max-width: 100%;
}
.actionWrap{
  display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 20%;
}
.heading{
  flex-basis: 80%;
}
.searchbar{
  width: -webkit-fill-available;
    padding: 10px 16px;
    border: navajowhite;
    background: #ececec;
    border-radius: 20px;
}
.searchbar:focus{
  outline: none;
}
.addbar{
  width: -webkit-fill-available;
  padding: 10px 16px;
  border: 2px solid #1387a82e;
  margin: 10px;
}
.addbar:focus{
  outline: none;
  border: 2px solid #1387a8;
}
.searchWrapper, inputWrapper{
  max-width: 100%;
  overflow: hidden;
}
.searchWrapper{
  position: relative;
  display: flex;
  align-items: center;
}
.searchIcon{
  position: absolute;
    z-index: 1;
    right: 10px;
}
.FriendsListSection{
  
}